# Python cache & artifacts
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
env/

# Simulation & experiment outputs
simulation_*/
output/
_out/
_out/*
out_*/
runs/
expResult/

# Logs
*.log

# Models / serialized data
*.pth
*.pt
*.ckpt
*.pkl

# Datasets (large files)
/data/

# IDE & OS
.vscode/
.DS_Store

# test
test.py
